/* Your app custom styles here */

.card img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.item-media img {
	border-radius: 50%;
}

.item-attendees {
	display: flex;
}

.virtual-list ul {
	height: auto !important;
}

.item-dish {
	width: 75px;
	height: 95px;

	img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}

.card-media {
	overflow: hidden;
	img[src*="jgp"] {
		transform: scale(1.2);
	}
}

.card-meta {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.item-title-details {
	flex-grow: 1;
	padding-left: 15px;
}

.card-center {
	text-align: center;
}

.item-attendees {
	margin-left: -15px;

	.item-media {
		margin-right: -15px;
	}
}

.thing {
	border: none;
	padding: 0;

	.chip-media {
		margin-left: 5px;
	}
}

.group-faves .card-header {
  height: 40vw;
  background-size: cover;
  background-position: center;
  color: #fff;
  font-size: 1.75em;
  font-weight: bold;
  position: relative;

  &::before {
  	content: "";
  	width: 100%;
  	height: 50px;
  	background: linear-gradient(to top, black, transparent);;
  	position: absolute;
  	left: 0;
  	bottom: 0;
  	z-index: 1;
  }

  div {
  	position: relative;
  	z-index: 2;
  }
}

.group-favorites {
	padding-bottom: 20px !important;

	.swiper-pagination {
		bottom: 0 !important;
	}
}
